<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alifabdulrahman.malaysiakinireader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RSS News Reader"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:usesCleartextTraffic="true">


        <activity android:name="com.alifabdulrahman.malaysiakinireader.Activity.Enter.NewsSectionActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.alifabdulrahman.malaysiakinireader.Activity.Help.NewsSectionActivity1" android:screenOrientation="portrait"/>
        <activity android:name="com.alifabdulrahman.malaysiakinireader.Activity.About.NewsSectionActivity2" android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Enter.ArticleView.ArticleViewActivity" android:screenOrientation="portrait" />
        <activity android:name="com.alifabdulrahman.malaysiakinireader.Activity.Enter.ArticleList.ArticleListingActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.alifabdulrahman.malaysiakinireader.Activity.MainActivity.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>